::placeholder{
    color: #113926;
    
}
#formUsuarioModal input{
    border-color: #198754;
}
#modal-basic-title{
    color: #055a32
} 
table{
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);    
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}
input{
    size:"5"
}
#container-table{
    margin-left: 0 !important;
  }
#fila-usuario th{
    background-color: #71af92;
}
#table-option{
    width: 110px;
}
*{
    font-size: 15px;
}

th{
    font-size: 14px;
}

.font- {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #0b5512;
}
.breadcrumb-item {
    font-size: 13px;
    padding: 0;
}