<ng-container *ngIf="bandera; else variable">
  <div class="pagetitle">
    <h3 class="font- prueba2">Inmuebles disponibles</h3>
    <nav>
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="">Home</a></li>
        <li class="breadcrumb-item active">Inmuebles</li>
        <li class="breadcrumb-item active">Listado Inmuebles</li>
      </ul>
    </nav>
  </div><!-- End Page Title -->
  <section class="section dashboard">
    <div class="container" id="row1">
      <div class="row">
        <!--
      <div class="col-4">
        <div class="input-group rounded mt-4 mb-4">
          <input type="search" class="form-control rounded" placeholder="Buscar por producto..." aria-label="Search"
            aria-describedby="search-addon"  />
          <button type="button" class="btn btn-primary">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
      -->
        <div class="col-4 mt-4 mb-4 d-flex  justify-content-center">
          <i class="bi bi-tags"></i>
          <label class="form-check-label mx-3" for="flexCheckChecked" name="categoria"> Tipo Inmueble</label>
          <select class="form-select-sm" name="tipo" style="height: 28px;">
            <option value="0">Todos los inmuebles</option>
            <option value="0">Casa</option>
            <option value="0">Departamento</option>
            <option value="0">Lote</option>
            <option value="0">Galpon</option>
            <option value="0">Local</option>
            <option value="0">Campo</option>
          </select>
        </div>
        <div class="col-4 mt-4 mb-4 d-flex  justify-content-center">
          <i class="bi bi-tags"></i>
          <label class="form-check-label px-3" for="flexCheckChecked" name="categoria"> Estado</label>
          <select class="form-select-sm" name="tipo" style="width: 170px; height: 28px;">
            <option value="">Todo</option>
            <option value="1">Alta</option>
            <option value="0">Baja</option>
          </select>
        </div>

        <div class="col-4 d-flex justify-content-end mt-4 mb-4">
          <button class="btn btn-danger" id="btnAgregar" type="button" name="agregar" name="botonAgregar">
            <a [routerLink]="'/Admin/NuevoInmueble'"> <i class="fa-solid fa-plus" style="color: #ffffff;"></i> Inmueble
            </a>

          </button>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <div class="row">
          <div class="container">
            <table class="table custom-table">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">ID</th>
                  <th scope="col">Tipo</th>
                  <th scope="col">Motivo</th>
                  <th scope="col">Propietario</th>
                  <th scope="col">Direccion</th>
                  <th scope="col">Localidad</th>
                  <th scope="col">Fecha ingreso</th>
                  <th scope="col">Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let inm of inmuebles">
                  <td><i class="fa-solid fa-eye" style="color: #0a4d27;" title="Ver detalle" (click)="verDetalle(inm.id_inmueble, inm.estado)"></i></td>
                  <td [class]="inm.colorLetra">{{inm.id_inmueble}}</td>
                  <td [class]="inm.colorLetra">{{inm.tipo_inmueble}}</td>
                  <td [class]="inm.colorLetra">{{inm.motivo}}</td>
                  <td [class]="inm.colorLetra">{{inm.propietario}}</td>
                  <td [class]="inm.colorLetra">{{inm.direccion}}</td>
                  <td [class]="inm.colorLetra">{{inm.ciudad}}</td>
                  <td [class]="inm.colorLetra">{{inm.fechaIngreso_muestra}}</td>
                  <td [class]="inm.colorEstado">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked"
                        [checked]="inm.id_estado" (change)="openModalAviso(inm.id_inmueble, inm.estado)">
                      <label class="form-check-label fw-bold" for="flexSwitchCheckChecked">{{inm.estado}}</label>
                    </div>
                  </td>
                  <!--  <td>                   
                  <i class="fa-solid fa-pen-to-square fa-lg" style="color: #d72f23;"
                   title="Editar"></i>
                  <i class="fa-solid fa-trash fa-lg px-2" style="color: #363b44;"
                    title="Eliminar"></i>
                </td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>
<ng-template #variable>
  <app-detalle-inmueble (volver)="volver($event)" [id_inmueble]="id_seleccionado" [estado_inm]="estado_inm"></app-detalle-inmueble>
</ng-template>