<ng-container *ngIf="show">
    <div class="modalc">
        <div class="modalc-content">
            <div class="modalc-header">
                <h4 class="modalc-title pt-3">
                    {{title}}
                </h4>
                <i class="fa-solid fa-x" style="color: #353131;" (click)="hideModal()"></i>
            </div>
            <div class="modalc-container">
                <div class="modal-body pb-4 pt-3">                    
                    Se ha registrado nuevo inmueble con exito!!
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success btn-block" (click)="hideModal()">OK</button>
                </div>
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</ng-container>

