<!-- SLIDER-->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="../assets/imagenes/slider/slider1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="../assets/imagenes/slider/slider2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="../assets/imagenes/slider/slider3.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="../assets/imagenes/slider/slider5.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
<!-- FIN SLIDER-->

<section class="container mx-auto pt-4 mt-4" id="SectionBotones">
  <h3 class="text-whitep-2 d-flex justify-content-center family fs-1" id="eslogan">Creemos un proyecto juntos...</h3>
  <div class="container mt-3" id="botones">
    <div class="row">
      <div class="col d-flex justify-content-center">
        <a href="venta.html" style="width: 50%;" class="d-flex justify-content-end">
          <button type="button" class="btn btn-dark mx-2 fs-5" id="boton">QUIERO VENDER</button>
        </a>
        <a href="" style="width: 50%;">
          <button type="button" class="btn btn-dark mx-2 fs-5" id="boton2">QUIERO COMPRAR</button></a>

      </div>
    </div>
  </div>
  <div class="container mt-3">
    <div class="row">
      <div class="col d-flex justify-content-center mb-5 mt-3">
        <!-- </input> -->
        <select id="tipoInmueble" class="option1" id="DDLTipoInmueble">
          <option value="casa" selected>Tipo de Inmueble</option>
          <option value="departamento">Casa</option>
          <option value="departamento">Departamento</option>
          <option value="local">Local/Oficina</option>
          <option value="campo">Campo</option>
          <option value="lote">Lote</option>
        </select>
        <button type="button" class="btn btn-dark mx-2 fs-5" id=botonBuscar>Buscar</button>
      </div>
    </div>
  </div>
</section>

<!--INICIO CARD FILA 1-->
<section id="card-row">
  <div class="container">
    <div class="row">
      <div class="col-3 pt-5" *ngFor="let inmue of inmueble_ventas">
        <div class="card pt-4 px-4 border border-3" id="idCard" style="margin: auto;">
          <div class="family text-danger">VENTA</div>
          <img class="card-img-top" src="../assets/imagenes/casa1.jpg" alt="Card image cap">
          <div class="">
            <h5 class="pt-2">{{inmue.calle}} {{inmue.numero}}</h5>
            <i class="fa-solid fa-sign-hanging" style="color: #343232;"></i>
            <span> {{inmue.motivo}}</span>
            <br>
            <i class="fa-solid fa-map-location-dot" style="color: #343232;"></i>
            <span> {{inmue.ciudad}}</span>
            <button type="button" class="btn btn-success mx-2 fs-5 mt-3" id="btnConsultas">Consultar</button>
          </div>

        </div>
      </div>

      <!--FIN CARD FILA 1

      <div class="col pt-5">
        <div class="card pt-4 px-4 border border-3 margin-card" id="idCard" style="margin: auto;">
          <div class="family text-danger">VENTA</div>
          <img class="card-img-top" src="../assets/imagenes/casa2.webp" alt="Card image cap" id="casa2">
          <div class="">
            <h5 class="">Italia 350</h5>
            <i class="fa-solid fa-sign-hanging" style="color: #343232;"></i>
            <span>CASA</span>
            <br>
            <i class="fa-solid fa-map-location-dot" style="color: #343232;"></i>
            <span>San Nicolas de los Arroyos</span>
            <button type="button" class="btn btn-success mx-2 fs-5 mt-3" id="btnConsultas">Consultar</button>
          </div>
        </div>
      </div>

      <div class="col pt-5">
        <div class="card pt-4 px-4 border border-3 margin-card" id="idCard">
          <div class="family text-danger">VENTA</div>
          <img class="card-img-top" src="../assets/imagenes/campo1.webp" alt="Card image cap">
          <div class="">
            <h5 class="">Pellegrini 1500</h5>
            <i class="fa-solid fa-sign-hanging" style="color: #343232;"></i>
            <span>CAMPO</span>
            <br>
            <i class="fa-solid fa-map-location-dot" style="color: #343232;"></i>
            <span>Arroyo Seco, Santa Fe</span>
            <button type="button" class="btn btn-success mx-2 fs-5 mt-3" id="btnConsultas">Consultar</button>
          </div>
        </div>
      </div>

      

      
      <div class="col pt-5">
        <div class="card pt-4 px-4 border border-3 margin-card">
          <div class="family text-danger">VENTA</div>
          <img class="card-img-top" src="../assets/imagenes/depto1.jpg" alt="Card image cap">
          <div class="">
            <h5 class="">Pellegrini 1500</h5>
            <i class="fa-solid fa-sign-hanging" style="color: #343232;"></i>
            <span>DEPARTAMENTO</span>
            <br>
            <i class="fa-solid fa-map-location-dot" style="color: #343232;"></i>
            <span>San Nicolas de los Arroyos, Bs.As</span>
            <button type="button" class="btn btn-success mx-2 fs-5 mt-3" id="btnConsultas">Consultar</button>
          </div>
        </div>
      </div>

      <div class="col pt-5">
        <div class="card pt-4 px-4 border border-3 margin-card" id="idCard">
          <div class="family text-danger">VENTA</div>
          <img class="card-img-top" src="../assets/imagenes/lote1.jpg" alt="Card image cap" id="casa2">
          <div class="">
            <h5 class="">Italia 350</h5>
            <i class="fa-solid fa-sign-hanging" style="color: #343232;"></i>
            <span>LOTE</span>
            <br>
            <i class="fa-solid fa-map-location-dot" style="color: #343232;"></i>
            <span>San Nicolas de los Arroyos</span>
            <button type="button" class="btn btn-success mx-2 fs-5 mt-3" id="btnConsultas">Consultar</button>
          </div>
        </div>
      </div>

      <div class="col  pt-5">
        <div class="card pt-4 px-4 border border-3 margin-card" id="idCard">
          <div class="family text-danger">VENTA</div>
          <img class="card-img-top" src="../assets/imagenes/casa3.png" alt="Card image cap">
          <div class=" ">
            <h5 class="">Pellegrini 1500</h5>
            <i class="fa-solid fa-sign-hanging" style="color: #343232;"></i>
            <span>CASA</span>
            <br>
            <i class="fa-solid fa-map-location-dot" style="color: #343232;"></i>
            <span>San Nicolas de los Arroyos, Bs.As</span>
            <button type="button" class="btn btn-success mx-2 fs-5 mt-3" id="btnConsultas">Consultar</button>
          </div>
        </div>
      </div>

      

      <div class="col pt-5">
        <div class="card pt-4 px-4 border border-3 margin-card">
          <div class="family text-danger">VENTA</div>
          <img class="card-img-top" src="../assets/imagenes/depto1.jpg" alt="Card image cap">
          <div class=" ">
            <h5 class="">Pellegrini 1500</h5>
            <i class="fa-solid fa-sign-hanging" style="color: #343232;"></i>
            <span>DEPARTAMENTO</span>
            <br>
            <i class="fa-solid fa-map-location-dot" style="color: #343232;"></i>
            <span>San Nicolas de los Arroyos, Bs.As</span>
            <button type="button" class="btn btn-success mx-2 fs-5 mt-3" id="btnConsultas">Consultar</button>
          </div>

        </div>
      </div>

      <div class="col pt-5">
        <div class="card pt-4 px-4 border border-3 margin-card">
          <div class="family text-danger">VENTA</div>
          <img class="card-img-top" src="../assets/imagenes/lote1.jpg" alt="Card image cap" id="casa2">
          <div class=" ">
            <h5 class="">Italia 350</h5>
            <i class="fa-solid fa-sign-hanging" style="color: #343232;"></i>
            <span>LOTE</span>
            <br>
            <i class="fa-solid fa-map-location-dot" style="color: #343232;"></i>
            <span>San Nicolas de los Arroyos</span>
            <button type="button" class="btn btn-success mx-2 fs-5 mt-3" id="btnConsultas">Consultar</button>
          </div>
        </div>
      </div>

    </div>
    FIN CARD FILA 3-->
    </div>
  </div>
</section>