#parrafo-1{
    padding-right: 100px;
}
section i{
    padding-left: 80px;
}
#i3{
    padding-left: 50px;
    padding-bottom: 20px;
}
#i2{
    padding-left: 150px;
    padding-bottom: 20px;
}
#i1{
    padding-left: 150px;
    padding-bottom: 20px;
}
#titulo3{
    padding-left: 15px;
}
#titulo2{
    padding-left: 70px;
}
#titulo1{
    padding-left: 70px;
}