  <!-- inicio Barra Nosotros-->
  <section class="container-fluid border-top border-3" id="sectionContacto">
    <div class="row">
      <div class="col col-xs-12" id="idContacto">
        <div class="fs-4 text-secondary px-5 pt-5 d-flex justify-content-center">Nosotros</div>
      </div>
      <div class="col col-xs-12 d-flex justify-content-center pt-5" id="idHomepage">
        <a href="index.html" class="px-2 text-success"><span>Homepage</span></a>
        <div class="text-secondary fs-6">> Nosotros</div>
      </div>
    </div>
  </section>
  <!-- fin Barra Nosotros-->
  <section class="container">
    <div class="text-success font-weight-bold fs-2 d-flex justify-content-center mt-5 family">
      SOBRE NOSOTROS
    </div>
    <p class="text-secondary fs-5 mt-4">
      “El secreto de los logros de una empresa no solo está en cumplir bien su trabajo, sino también en superarse
      y saber para que se trabaja.”
    </p>
    <p class="text-secondary fs-5">
      Queremos que nuestra empresa sea una de las inmobiliarias que este en su lista a la hora de tomar la
      decisión más acertada! Nuestra firma se encuentra ubicada en francia 87 en la ciudad de San Nicolás de Los
      Arroyos, iniciando sus actividades en el año 2015, durante los cuales hemos aprendido las necesidades del
      mercado, y liderando los cambios.
    </p>
    <p class="text-secondary fs-5">
      <span class="fs-4 font-weight-bold" style="color: rgb(85, 83, 83);">QUIENES SOMOS:</span>
      Somos una empresa joven en el mercado, que queremos ser reconocidos por los valores éticos y llevar a cabo
      con
      profesionalismo el cumplimiento de las exigencias de nuestros clientes. Comprendemos el valor que significa
      tomar una decisión tan trascendente como elegir el lugar donde vivir o la inversión a realizar para
      resguardar
      tus ahorros.
    </p>
  </section>
  <section style="margin-top: 60px;">
    <div class="container border-top border-3">
      <div class="row pt-5">
        <div class=" col-lg-5">        
          <i class="fa-solid fa-flag fa-2xl" style="color: #000000;" id="i1"></i>
          <div class="text-black fs-2 family" id="titulo1">Nuestra Misión</div>
          <div class="text-secondary" id="parrafo-1">Servir con profesionalismo,
            honestidad, ética y eficiencia a nuestros clientes, permitiendo el desarrollo integral de
            nuestra gente y consolidando negocio inmobiliario.
          </div>
        </div>
        <div class="col-lg-5">
          <i class="fa-solid fa-eye fa-2xl" style="color: #000000;" id="i2"></i>
          <div class="text-black fs-2 family" id="titulo2">Nuestra Vision</div>
          <div class="text-secondary" id="#parrafo-2" style="padding-right:80px">- Prestar el más amplio rango de servicios
            inmobiliarios de acuerdo a estándares internacionales.
            <br>
            - Mantener la más alta reputación, tanto en lo que se refiere a la integridad y consistencia de nuestra
            gente, como a la calidad de nuestros servicios.
          </div>
        </div>
        <div class="col-lg-2">
          <i class="fa-solid fa-hands-praying fa-2xl" style="color: #000000;" id="i3"></i>
          <div class="text-black fs-2 family" id="titulo3">Valores</div>
          <div class="text-secondary ">- Profesionalismo <br>  
            - Honestidad <br>
            - Ética <br>
            - Respeto <br>
            - Compromiso con nuestros clientes</div>
        </div>
      </div>
    </div>
    
  </section>